@page "/"

<h1>Blazored FluentValidation Sample</h1>

<hr class="mb-5" />

<EditForm Model="@Person" OnValidSubmit="@SubmitValidForm">
    <FluentValidationValidator AlwaysValidateFullModel="true"/>
    <ValidationSummary />

    <p>
        <label>Name: </label>
        <InputText @bind-Value="@Person.Name" />
        <ValidationMessage For="@(() => Person.Name)" />
    </p>

    <p>
        <label>Age: </label>
        <InputNumber @bind-Value="@Person.Age" />
        <ValidationMessage For="@(() => Person.Age)" />
    </p>

    <p>
        <label>Email Address: </label>
        <InputText @bind-Value="@Person.EmailAddress" />
        <ValidationMessage For="@(() => Person.EmailAddress)" />
    </p>

    <button type="submit">Save</button>

</EditForm>

@code {
    Person Person { get; set; } = new Person();

    void SubmitValidForm()
    {
        Console.WriteLine("Form Submitted Successfully!");
    }
}